<div class="container bg-primary">
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="text-center">
                    <h1>Signup</h1>
                    <h5>Get started with Office Register</h5><hr>
                </div>

                <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                    <div class="mb-3">
                      <label  class="form-label">Name</label>
                      <input formControlName="name" placeholder="Enter Full Name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Mobile Number</label>
                        <input formControlName="mobile" placeholder="Enter Mobile.No" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      </div>
                      <div class="mb-3">
                        <label  class="form-label">Email address</label>
                        <input formControlName="email" placeholder="Enter Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      </div>
                    <div class="mb-3">
                      <label class="form-label">Password</label>
                      <input  formControlName="password" placeholder="Enter Password" type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">Signup  <i class="fa-solid fa-user-plus"></i></button>
                </form>
                <div class="link">
                    <span>Already have an account?</span> <a [routerLink]="['/login']"> Login</a>
                </div>

            </div>
        </div>
    </div>
</div>

